* {
  box-sizing: border-box;
}

:root,
[data-theme="light"] {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #1a1a1a;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-white: #f8f9fb;
  --table-border-color: #657986;
  --primary-color: #5da9db;
  --alt-color: #e5eff6;
  --background-gray: #eceff2;
  --default-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
  --default-focus-outline: -webkit-focus-ring-color auto 1px;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn {
  box-shadow: var(--default-box-shadow);
  border-radius: 50px !important;
}

.btn:focus-visible {
  outline: var(--default-focus-outline);
}

.btn-primary {
  --bs-btn-bg: var(--primary-color) !important;
  --bs-btn-border-color: var(--primary-color) !important;
  --bs-btn-hover-bg: #4c98ca !important;
  --bs-btn-hover-border-color: #4c98ca !important;
  --bs-btn-active-bg: #4c98ca !important;
  --bs-btn-active-border-color: #4c98ca !important;
  --bs-btn-disabled-bg: var(--primary-color) !important;
  --bs-btn-disabled-border-color: var(--primary-color) !important;
}

.btn-outline-primary {
  --bs-btn-color: var(--primary-color) !important;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: var(--primary-color) !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: var(--primary-color) !important;
  --bs-btn-hover-border-color: var(--primary-color) !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: var(--primary-color) !important;
  --bs-btn-active-border-color: var(--primary-color) !important;
  --bs-btn-disabled-color: var(--primary-color) !important;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: var(--primary-color) !important;
}

.btn-alt {
  --bs-btn-bg: var(--alt-color) !important;
  --bs-btn-border-color: var(--alt-color) !important;
  --bs-btn-hover-bg: #d7e7f3 !important;
  --bs-btn-hover-border-color: #d7e7f3 !important;
  --bs-btn-active-bg: #d7e7f3 !important;
  --bs-btn-active-border-color: #d7e7f3 !important;
  --bs-btn-disabled-bg: var(--alt-color) !important;
  --bs-btn-disabled-border-color: var(--alt-color) !important;
}

.btn-danger {
  --bs-btn-bg: #db5d5c !important;
  --bs-btn-border-color: #db5d5c !important;
  --bs-btn-hover-bg: #c55555 !important;
  --bs-btn-hover-border-color: #c55555 !important;
  --bs-btn-active-bg: #c55555 !important;
  --bs-btn-active-border-color: #c55555 !important;
  --bs-btn-disabled-bg: #db5d5c !important;
  --bs-btn-disabled-border-color: #db5d5c !important;
}

.btn-link {
  box-shadow: none !important;
  border-radius: unset !important;
}

.btn-manager {
  background-color: #f8f9fb;
}

.btn-manager:focus-visible {
  outline: var(--default-focus-outline);
}

.pagination {
  --bs-pagination-color: var(--primary-color) !important;
  --bs-pagination-active-bg: var(--primary-color) !important;
  --bs-pagination-active-border-color: var(--primary-color) !important;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control,
.form-select {
  border-radius: 25px;
  box-shadow: var(--default-box-shadow);
  border: 0;
}

.form-control {
  min-width: 0;
}

button.active,
a.active {
  background-color: #5da9db;
  color: #fff;
}

.navbar-nav .nav-link {
  background-color: transparent;
}

.manager-block-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: baseline;
}

.manager-block {
  background-color: #f7f9f9;
  border-radius: 25px;
  box-shadow: var(--default-box-shadow);
  padding: 1rem;
}

.manager-block h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.footer-link {
  color: inherit;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
  color: #0a58ca;
}
