.nav {
  display: none;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: var(--background-white);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  max-height: 100dvh;
}

@media (min-width: 48em) {
  .nav {
    display: flex;
  }
}

.nav > div {
  flex: 1;
}

.nav-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-group p {
  margin: 0;
  padding: 0 1rem;
  color: #565959;
  font-size: 0.9em;
}

.shrank a {
  width: 2.5rem !important;
  height: 2.5rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
