.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: var(--background-white);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  max-height: 100dvh;
}

.nav > div {
  flex: 1;
}

.navbar-toggler {
  cursor: pointer;
  padding: 0;
  border: none;
  border-radius: 50px;
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-size: inherit;
  margin: 0.5rem 0;
  transition: 0.1s ease-out;
  transition-property: box-shadow, background-color;
}

.navbar-toggler:hover {
  box-shadow: var(--default-box-shadow);
  background-color: #f4f4f4;
}

.navbar-toggler:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
  padding: 0;
  gap: 1.25rem;
}

.nav-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-group p {
  margin: 0;
  padding: 0 1rem;
  color: #565959;
  font-size: 0.9em;
}

.nav-item a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border-radius: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  padding: 0.5rem 1rem;
  transition: 0.1s ease-out;
  transition-property: box-shadow, background-color;
}

.nav-item a:hover {
  box-shadow: var(--default-box-shadow);
  background-color: #f4f4f4;
}

.nav-item a[aria-current="page"] {
  box-shadow: var(--default-box-shadow);
}

.nav-item a[aria-current="page"]:hover {
  background-color: #4c98ca;
}

.logout {
  margin-top: auto;
}

.logout a {
  color: #565959;
}

.shrank a {
  padding: 0;
  width: 39px;
  margin: 0 auto;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollbar-root {
  width: 100%;
  height: 100%;
	overflow: hidden;
	--scrollbar-size: 10px;
}

.scrollbar-viewport {
  width: 100%;
	height: 100%;
	border-radius: inherit;
  padding: 0.5rem;
  & > div, & > div > div {
    height: 100%;
  }
}

.scrollbar {
	display: flex;
	user-select: none;
	touch-action: none;
	padding: 2px;
	background: white;
	transition: background 160ms ease-out;
	&:hover {
		background: #e6edf2;
	}
	&[data-orientation="vertical"] {
		width: var(--scrollbar-size);
	}
	&[data-orientation="horizontal"] {
		flex-direction: column;
		height: var(--scrollbar-size);
	}
}

.scrollbar-thumb {
	flex: 1;
	background: #cbd5e1;
	border-radius: var(--scrollbar-size);
	position: relative;

	/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		min-width: 44px;
		min-height: 44px;
	}
}
