.nav {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
  height: 100vh;
  width: fit-content;
  background-color: var(--background-white);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar-toggler {
  cursor: pointer;
  padding: 0;
  border: none;
  border-radius: 50px;
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-size: inherit;
}

.navbar-toggler:hover {
  box-shadow: var(--default-box-shadow);
  background-color: #f4f4f4;
}

.navbar-toggler:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}

.nav-item {
  margin-bottom: 1rem;
}

.nav-item a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border-radius: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  padding: 0.5rem 1rem;
  transition: 0.1s ease-out;
  transition-property: box-shadow, background-color;
}

.nav-item a:hover {
  box-shadow: var(--default-box-shadow);
  background-color: #f4f4f4;
}

.nav-item a[aria-current="page"] {
  box-shadow: var(--default-box-shadow);
}

.nav-item a[aria-current="page"]:hover {
  background-color: #4c98ca;
}

.logout {
  margin-top: auto;
  margin-bottom: 0;
}

.logout a {
  color: #565959;
}

.shrank a {
  padding: 0;
  width: 39px;
  margin: 0 auto;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}
