.top-nav {
  width: 100%;
  background-color: var(--background-white);
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;
  padding: 0 0.5rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}

.nav-title {
  text-transform: uppercase;
  font-weight: 500;
}

.nav-title h1 {
  font-size: 1.2rem;
  margin: 0;
}

.nav-right {
  width: 2rem;
  height: 2rem;
}

.nav-right button {
  background: transparent;
  border: none;
  border-radius: 50px;
  color: #000;
  padding: 0;
  width: 2rem;
  height: 2rem;
}

.nav-right button:focus-visible {
  outline: 0.25rem solid rgba(49, 132, 253, 0.5);
}

.profile-backdrop {
  position: fixed;
  inset: 0;
  z-index: 20;
}

.profile {
  background-color: #f8f9fb;
  box-shadow: var(--default-box-shadow);
  position: absolute;
  top: 3.5rem;
  right: 2rem;
  border-radius: 10px;
  z-index: 21;
}

.profile > div {
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-bottom: 1px solid var(--background-gray);
}

.profile-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-menu li:last-child a {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.profile-menu a {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  text-decoration: none;
  color: #000;
  transition: background-color 0.3s;
}

.profile-menu a:hover {
  background-color: var(--background-gray);
}

.profile-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

@media (min-width: 48em) {
  .top-nav {
    grid-template-columns: 1fr auto;
    padding: 0 1rem;
  }

  .navbar-toggler {
    display: none;
  }

  .nav-title h1 {
    font-size: 2rem;
  }
}

@media (min-width: 64em) {
  .nav-title h1 {
    font-size: 2.5rem;
  }
}
