.navbar-toggler {
  cursor: pointer;
  padding: 0;
  border: none;
  border-radius: 50px;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-size: inherit;
  margin: 0.5rem 0;
  transition: 0.1s ease-out;
  transition-property: box-shadow, background-color;
  color: black;
}

.navbar-toggler:active {
  box-shadow: var(--default-box-shadow);
  background-color: #f4f4f4;
}

.navbar-toggler:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

@media (min-width: 48em) {
  .navbar-toggler:hover {
    box-shadow: var(--default-box-shadow);
    background-color: #f4f4f4;
  }
}
