.nav-list {
    list-style: none;
    margin: 0;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    height: 90px;
    align-items: center;
}

.nav-brand {
    margin-right: auto;
}

.nav-brand a[aria-current="page"] {
    background-color: inherit;
    box-shadow: none;
    color: inherit;
}

.nav-list a {
    text-decoration: none;
    color: inherit;
}

.nav-item a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.1s ease-out;
    transition-property: color, background-color, box-shadow;
    padding: 0.5rem 1rem;
    border-radius: 50px;
}

.nav-item a:hover {
    background-color: #f4f4f4;
    box-shadow: var(--default-box-shadow);
}

.nav-item a:active,
.nav-item a[aria-current="page"] {
    background-color: #4c98ca;
    color: white;
    box-shadow: var(--default-box-shadow);
}
