.nav-list {
  composes: nav-list from "./Nav.module.css";
  padding: 2rem;
  gap: 1rem;
  height: 90px;
}

.nav-item {
  composes: nav-item from "./Nav.module.css";
}

.nav-brand {
  composes: nav-brand from "./Nav.module.css";
}

.nav-item a {
  padding: 0.5rem 1rem;
}

.nav-item a:hover:not([aria-current="page"]):not(:active) {
  background-color: #f4f4f4;
  box-shadow: var(--default-box-shadow);
}
