.nav-list {
  composes: nav-list from "./Nav.module.css";
  padding: 0.25rem 0.125rem;
  background-color: white;
  justify-content: space-between;
}

.nav-item {
  composes: nav-item from "./Nav.module.css";
  width: 100%;
}

.nav-item a {
  flex-direction: column;
  padding: 0.5rem 0.625rem;
}

.nav-item span {
  font-size: 0.75rem;
}

.nav-item svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 24.6em) {
  .nav-item span {
    font-size: 0.65rem;
  }

  .nav-item svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  .nav-item a {
    padding: 0.5rem 0.25rem;
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  max-height: 4rem;
  width: 100svw;
  z-index: 1000;
  display: block;
}

@media (min-width: 48em) {
  .bottom-nav {
    display: none;
  }
}

footer {
  margin-bottom: 4rem;
}
