<table style="font-family: sans-serif; margin: 0 auto">
  <tr style="text-align: center; color: #ffffff">
    <td>
      <h1
        style="
          background: #5da9db;
          padding-top: 20px;
          padding-bottom: 20px;
          margin: 0;
        "
      >
        RESETOWANIE HASŁA
      </h1>
    </td>
  </tr>
  <tr style="background: #f8f9fb">
    <td style="text-align: justify; padding: 8px 16px; max-width: 450px;">
      <h2 style="margin: 0;">Witaj,</h2>
      <p>
        Otrzymaliśmy prośbę o zresetowanie hasła do Twojego konta. Aby
        przejść do ustawienia nowego hasła zatwierdź prośbę klikając w link
        poniżej.
      </p>
      <a href="{{url}}/reset/{{token}}">Zresetuj hasło</a>
      <p>
        Jeżeli ten e-mail nie został wysłany na Twoją prośbę, możesz
        zignorować tę wiadomość.
      </p>
      <p>
        Pozdrawiamy,<br />
        <strong>Zespół AirTrans</strong>
      </p>
    </td>
  </tr>
  <tr style="background: #5da9db">
    <td>
      <hr style="border: 0;">
    </td>
  </tr>
</table>
