.container {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fb;
  padding: 5rem 2rem;
  margin: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.25);
  gap: 2rem;
}

.left {
  flex: 1.1;
}

.right {
  flex: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  flex: 1;
}

.form-group label {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.btn {
  width: 100%;
}

.left > p {
  margin-right: 10px;
}
