.manager {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.manager > nav:first-child {
  grid-row: span 2;
}

.manager > nav:last-of-type {
  grid-column: span 2;
}

.manager > main {
  grid-column: span 2;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
}

@media (max-width: 47.99em) {
  .manager {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
}
