.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 40px;
}

.content h1 {
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .content {
    padding: 10px;
    padding-top: 20px;
  }

  .content h1 {
    margin-bottom: 20px;
  }
}

.tabela-container {
  display: flex;
  justify-content: space-around;
}

.footer {
  display: block;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
