.mobile-filter-sort {
    display: flex;
}

.dropdown-toggle {
    width: 2rem;
    height: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-toggle::after {
    display: none;
}

@media (min-width: 48em) {
    .mobile-filter-sort {
        display: none;
    }
}
