.mobile-filter-sort {
    display: flex;
}

.dropdown-toggle {
    width: 2rem;
    height: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
}

.dropdown-toggle:active,
.dropdown-toggle:focus-visible,
.dropdown-toggle[aria-expanded="true"] {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: var(--default-box-shadow);
}

.dropdown-toggle::after {
    display: none;
}

@media (min-width: 48em) {
    .mobile-filter-sort {
        display: none;
    }
}
