.schedule-options {
    background-color: #B3D3E8;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

@media (min-width: 48em) {
    .schedule-options {
        padding: 1rem 2rem;
    }
}

.search-wrapper {
    position: relative;
}

.search-wrapper input {
    height: 100%;
    padding-right: 0.5rem;
    padding-left: 2.75rem;
    border: 0;
    border-radius: 25px;
}

@media (min-width: 48em) {
    .search-wrapper input {
        padding-right: 1rem;
    }
}

.search-wrapper input:focus-visible {
    outline: 2px solid var(--table-border-color);
}

.search-wrapper svg {
    color: var(--table-border-color);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(calc(50%)) translateX(1rem);
    cursor: text;
}

@media (min-width: 48em) {
    .search-wrapper svg {
        transform: translateY(calc(50% + 0.25rem)) translateX(1rem);
    }
}
