.header {
  display: grid;
  overflow: hidden;
  width: 100%;
  padding: 0.5rem;
  font-weight: 500;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.header button {
  all: unset;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background-color: #f8f9fb;
  position: absolute;
  top: 0;
  left: 0;
}

.header-content:first-child {
  position: relative;
}

.header-content[data-state="open"] {
  animation: slideInFromRight 200ms ease-out forwards;
  z-index: 1;
}

.header-content[data-state="closed"] {
  animation: slideOffToRight 160ms ease-in forwards;
  z-index: -1;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOffToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
